{% extends "pv_home.html" %}
{% load i18n %}
{% load convert_tags place_map_tags %}
{% block more_scripts %}
<script type='text/javascript' src='/media/js/tooltip.js'>
</script>
<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.2.74.js">
</script>
<script type="text/javascript">
    
    this.searchClicked = function(){
        $('#search_button').click(function(){
            search_data = $('#search_text').val();
            window.location.href = '{% url search %}?data=' + search_data;
        });
    };
    
    this.advancedSearch = function(){
        $('#advanced_search_button').click(function(){
            window.location.href = '{% url search %}';
        });
    };
    
    this.initialize_menu = function(div_name){
        $(div_name).mouseenter(function(){
            $(div_name).cycle('pause');
        });
        
        $(div_name).mouseleave(function(){
            $(div_name).cycle('resume');
        });
        
        $(div_name).cycle({
            fx: 'fade',
            timeout: '500' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        });
        
    }
    $(document).ready(function(){
        initialize_menu('.img_artwork');
    });
</script>
{% endblock %}

{% block title %}{% trans "Artwork" %}{% endblock %}

{% block current_crumb %}{{ artwork.title }}{% endblock %}

{% block main_body %}

{% block breadcrumb %}{% endblock %}

<div class="page-header">
    <h2>{{ artwork.title }}</h2>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
                        <div class="img_artwork">
                            <img src="/media/img/art3.png">
                            {% if artwork.images.count != 0 %}
                            {% for artImg in artwork.images.all %} 
                            {% if artImg.url %} 
                            	{% thumbnail artImg.url "190x190,crop" %}
							{% else %}
								{% if artImg.image %}
									{% thumbnail artImg.image "190x190,crop" %}
								{% else %}
                            		{% thumbnail "img/Unavailable.gif" "190x190,crop" %} 
                            	{% endif %}
							{% endif %} 
                            {% endfor %} 
                            {% else %}
                            {% thumbnail "img/Unavailable.gif" "190x190,crop" %} 
                            {% endif %} 
                        </div>
        </div>
        <div class="span6">
<!--Creator-->
                            <div class="dl-horizontal">
                                <dt>Creator:  {% for creator in artwork.creators.all %}</dt>
                                <dd><a href="{% url creator_record creator.id %}">{{ creator.name }} </a></dd>
                                    {% endfor %}
                            </div>
<!--Dated In-->
                            <div class="dl-horizontal">
                            {% if artwork.creation_year_start and artwork.creation_year_end %} 
                                <dt>Dated In:</dt> 
                                <dd>{{ artwork.creation_year_start }} - {{ artwork.creation_year_end }}</dd>
                            {% else %} 
                                <dt>Dated In:</dt> 
                                <dd>n/a</dd>
                            {% endif%}
                            </div>
<!--Original Location-->
                            <div class="dl-horizontal">
                            {% if artwork.original_place %} 
                                <dt>Original Location:</dt>
                            {% if artwork.original_place.get_valid_point %}
                                <dd><a rel="{% url map %}" href="{% place_map artwork.original_place.get_valid_point %}">{{ artwork.original_place.title }}</a></dd>
                            {% else %}
                                {{ artwork.original_place.title }}
                            {% endif %}
                            {% else %} 
                                <dt>Original Destination:</dt> 
                                <dd>n/a</dd>
                            {% endif%}
                            </div>
<!--Current Location-->
                            <div class="dl-horizontal">
                            {% if artwork.current_place %}
                                <dt>Current Location:</dt>
                            {% if artwork.current_place.get_valid_point %}
                                <dd><a rel="{% url map %}" href="{% place_map artwork.current_place.get_valid_point %}">{{ artwork.current_place.title }}</a></dd>
                            {% else %}
                                {{ artwork.current_place.title }}
                            {% endif %}
                            {% else %} 
                                <dt>Current Location:<dt>
                                <dd>n/a</dd>
                            {% endif%}
                            </div>
<!--Series-->
                            <div class="dl-horizontal">
                            {% if artwork.serie.id %} 
                                <dt>It belongs to series:</dt> 
                                <dd><a href="{% url series_record artwork.serie.id %}">{{ artwork.serie }} </a></dd>
                            {% else %} 
                                <dt>Series:</dt> 
                                <dd>None</dd>
                            {% endif %}
                            </div>
        </div>
    </div>
    <div class="row-fluid gendescription">
        <div class="span12">
<!--General Description-->
                        <div>
                            <p><strong>General Description</strong></p>
                        </div>
                        <div>
                            <p>{% for d in descriptor %}
                                {% if d.value %}
                                    {{ d.descriptor.path }}: {{ d.value }} {% if not forloop.last %}<br/>{% endif %}
                                {% else %}
                                    {{ d.descriptor.path }} {% if not forloop.last %}<br/>{% endif %}
                            {% endif %}
                            {% endfor %}</p>
                        </div>
        </div>
    </div>
</div>

{% endblock %}
