{% extends "home.html" %}
{% load i18n %}
{% load convert_tags %}

{% block extra_scripts %}
<script type='text/javascript' src='/media/js/tooltip.js'></script>
{% endblock %}

{% block title %}{% trans "Series" %}{% endblock %}

{% block current_crumb %}{{ serie.title }}{% endblock %}

{% block main_body %}
<div class="container">
    <div class="page-header">
        <h2>{{ serie.title }}</h2>
    </div>

    <div class="row-fluid">
        <div class="span12">
    <!--    Need to make a loop one for singular and one for plural-->
            <em>This series has {{ serie.artwork_set.count }} artworks.</em>
        </div>
    </div>
    <div class="row-fluid">
        <div class="8">
            <table class="table">
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Creator</td>
                        <td>Date</td>
                        <td>Current Location</td>
                    </tr>
                </thead>

                <tbody>
                {% for artwork in artworks.object_list %}
                    <tr>
                        <td>
                            <a href="{% url artworks_record artwork.id %}">{{ artwork.title }}</a>
                        </td>
                        <td>
                        {% for creator in artwork.creators.all %}
                            {{ creator.name }}
                        {% endfor %}
                        </td>
                        <td>
                            {{ artwork.creation_year_start }} - {{ artwork.creation_year_end }}
                        </td>
                        <td>
                            {% if artwork.current_place.get_valid_point %}
                                <a class="preview" rel="{% url map %}" href="{% place_map artwork.current_place.get_valid_point %}">{{ artwork.current_place.title }}</a>
                            {% else %}
                                {{ artwork.current_place.title }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

<!--PAGINATION-->
    <div class="pagination pagination-centered">
        {% if artworks.paginator.num_pages == 1 %}
            <span class="first-last"> First </span>
        {% else %}
            <a id="first" href="?page=1" class="first-last">First</a>
        {% endif %}
        &nbsp;&nbsp;
        {% if artworks.has_previous %}
            <a href="?page={{ artworks.previous_page_number }}"><span class="badge badge-info">Previous</span></a>
        {% else %}
            <span class="badge badge-info"> Previous </span>
        {% endif %}
            <span class="current">
            &nbsp;&nbsp;Page {{ artworks.number }} of {{ artworks.paginator.num_pages }}&nbsp;&nbsp;
            </span>
        {% if artworks.has_next %}
            <a href="?page={{ artworks.next_page_number }}"><span class="badge badge-info">Next</span></a>
        {% else %}
            <span class="badge badge-info"> Next </span>
        {% endif %}
        &nbsp;&nbsp;
        {% if artworks.paginator.num_pages == 1 %}
            <span class="first-last"> Last </span>
        {% else %}
            <a href="?page={{ artworks.paginator.num_pages }}"><span class="first-last">Last</span></a>
        {% endif %}
    </div>
</div>


{% endblock %}
