{% extends "pv_home.html" %}
{% load i18n %}

{% block more_scripts %}

{% endblock %}

{% block title %}{% trans "Series" %}{% endblock %}

{% block current_crumb %}{% trans "Series" %}{% endblock %}

{% block main_body %}
<div class="container-fluid">

<div class="row-fluid series">
    <div class="page-header">
        <div class="span4">
            <h2>Series</h2>
        </div>


    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td><a href="?orderby=title" class="order_link">Title</a>
                {% if order == 'title' %}
                    <a href="?orderby=-title"><i class="icon-sort-up"></i></a>
                    <a href="/artworks/series/"><i class="icon-remove"></i></a>
                {% else %}
                    {% if order == '-title' %}
                    <a href="?orderby=title"><i class="icon-sort-down"></i></a>
                    <a href="/artworks/series/"><i class="icon-remove"></i></a>
                    {% endif %}
                {% endif %}


                </td>
                <td><a href="?orderby=no_of_artworks" class="order_link">Number of Artworks</a>
                {% if order == 'no_of_artworks' %}
                    <a href="?orderby=-no_of_artworks"><i class="icon-sort-up"></i></a>
                    <a href="/artworks/series/"><i class="icon-remove"></i></a>
                {% else %}
                    {% if order == '-no_of_artworks' %}
                    <a href="?orderby=no_of_artworks"><i class="icon-sort-down"></i></a>
                    <a href="/artworks/series/"><i class="icon-remove"></i></a>
                    {% endif %}
                {% endif %}
                </a></td>
            
            </tr>
        </thead>

        <tbody>
            {% for serie in series.object_list %}
            <tr>
                <td>
                    <a href="{% url series_record serie.id %}">{{ serie.title }}</a>
                </td>
                <td>
                    {{ serie.artwork_set.count }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<!--PAGINATION-->

    <div class="pagination pagination-centered">
        <a id="first" href="?orderby={{ order }}&page=1"><span class="first-last">First</span></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% if series.has_previous %}
        <a href="?orderby={{ order }}&page={{ series.previous_page_number }}"><span class="badge badge-info">Previous</a>
    {% else %}
        <span class="badge badge-info"> Previous </span>
    {% endif %}
    &nbsp;
        <span class="current">
            Page {{ series.number }} of {{ series.paginator.num_pages }}
        </span>
    &nbsp;
    {% if series.has_next %}
        <a href="?orderby={{ order }}&page={{ series.next_page_number }}"><span class="badge badge-info">Next</span></a>
    {% else %}
        <span class="badge badge-info">Next</span>
    {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="?orderby={{ order }}&page={{ series.paginator.num_pages }}"><span class="first-last">Last</span></a>
    </div>
</div>
{% endblock %}

<script type='text/javascript'>
    this.selectionChanged = function() {
    $( '#pvsort_select' ).change( function() {
        orderby = $("#pvsort_select option:selected"); 
        window.location.href= '{{url}}?orderby=' + orderby.val();
        });
    };

// starting the script on page load
    $(document).ready(function(){
        selectionChanged();
    });
</script>
