{% extends "pv_home.html" %}
{% load i18n %}
{% load convert_tags %}

{% block more_scripts %}
<script type='text/javascript' src='/media/js/tooltip.js'></script>
<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.2.74.js"></script>
<script type='text/javascript'>
    this.initialize_menu = function(div_name){
        $(div_name).mouseenter(function(){
            $(div_name).cycle('pause');
        });
        
        $(div_name).mouseleave(function(){
            $(div_name).cycle('resume');
        });
        
        $(div_name).cycle({
            fx: 'fade',
            timeout: '2000' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        });
        
    }
    $(document).ready(function(){ 
        initialize_menu('.img_artwork');
    });
	</script>
{% endblock %}

{% block title %}{% trans "Serie" %}{% endblock %}

{% block current_crumb %}{{ serie.title }}{% endblock %}

{% block main_body %}
<div class="container">
<div class="page-header">
    <h2>{{ serie.title }}</h2>
</div>

<div class="row-fluid">
    <div class="span12">
<!--    Need to make a loop one for singular and one for plural-->
        <em>This serie has {{ serie.artwork_set.count }} artworks.</em>
    </div>
<div class="row-fluid">
    <div class="8">
        <table class="table">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Creator</td>
                    <td>Date</td>
                    <td>Current Location</td>
                </tr>
            </thead>

            <tbody>
            {% for artwork in artworks.object_list %}
                <tr>
                    <td>
                        <a href="{% url artworks_record artwork.id %}">{{ artwork.title }}</a>
                    </td>
                    <td>
                    {% for creator in artwork.creators.all %} 
                        {{ creator.name }} 
                    {% endfor %}
                    </td>
                    <td>
                        {{ artwork.creation_year_start }} - {{ artwork.creation_year_end }}
                    </td>
                    <td>
                        {{  artwork.current_place.title }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

<!--PAGINATION-->
<div class="pagination">   
    {% if artworks.paginator.num_pages == 1 %}            	
        <span class="first-last"> First </span>
    {% else %}
        <a id="first" href="?page=1" class="first-last">First</a>
	{% endif %}
    &nbsp;&nbsp;
    {% if artworks.has_previous %}
        <a href="?page={{ artworks.previous_page_number }}"><span class="badge badge-info">Previous</span></a>
    {% else %}
        <span class="badge badge-info"> Previous </span>
    {% endif %}
        <span class="current">
        &nbsp;&nbsp;Page {{ artworks.number }} of {{ artworks.paginator.num_pages }}&nbsp;&nbsp;
        </span>
    {% if artworks.has_next %}
        <a href="?page={{ artworks.next_page_number }}"><span class="badge badge-info">Next</span></a>
    {% else %}
        <span class="badge badge-info"> Next </span>
    {% endif %}
    &nbsp;&nbsp;
    {% if artworks.paginator.num_pages == 1 %}
        <span class="first-last"> Last </span>
    {% else %}
        <a href="?page={{ artworks.paginator.num_pages }}"><span class="first-last">Last</span></a>
    {% endif %}
</div>
</div>
</td>

<div class="span4">
			<td style="width:30%; vertical-align: top; padding: 10px 0 0 30px; ">
				<div class="img_artwork" align="center">
					{% for artwork in artworks.object_list %}
						{% if artwork.images.count != 0 %}
                            {% for artImg in artwork.images.all%}
								{% if artImg.url %}
									{% thumbnail artImg.url "215x175,crop" %}
								{% else %}
									{% if artImg.image %}
										{% thumbnail artImg.image "190x190,crop" %}
									{% else %}
                            			{% thumbnail "img/Unavailable.gif" "190x190,crop" %} 
                            		{% endif %}
								{% endif %}
							{% endfor %} 
						{% else %}
							{% thumbnail "img/Unavailable.gif" "215x175,crop" %}
						{% endif %}
					{% endfor %}
                 </div>
			</td>
		</div>
		</tr>
	</table>
</div>
</div>
</div>
</div>
{% endblock %}
