{% extends "home.html" %}
{% load i18n %}

{% block title %}{% trans "About" %}{% endblock %}


{% block main_body %}


<div class="container-fluid">

<h2>CulturePlex Lab at Western U.</h2>

<div class="about_text">

<p class="about_lines">This database is an ongoing project at the CulturePlex Lab, starting in 2007, as part of The Hispanic Baroque Project, a SSHRC funded initiative. Since then, a team of researchers and students, at both graduate and undergraduate level, have collaborated in building the database. Baroque Art has been populated through field-work data collection, as well as catalogue manual data extraction. The database contains close to 15,000 items, including paintings and creators, characterized by over 200 descriptors, and organized in 405 series. In total we have used 1434 bibliographical resources to populate the database. Since the scope of the database is Hispanic Baroque art, entries are of varying geographies and artistic styles. The selection follows historical context as well as artistic and scholarly principles such as influence, and knowledge transfer.</p>

<p class="about_lines">The Ontology section made available provides the organizing principle behind the database. Likewise, the Data section provides .json and .csv data files containing BaroqueArt’s scope of information are available for reuse and further research. Please cite this resource if you use the database. We have provided entries in a few of the most common citation styles in the Cite Us section.</p>

</div>

</div>

{% endblock %}
