{% extends "pv_home.html" %}
{% load i18n %}

{% block title %}{% trans "About" %}{% endblock %}

{% block main_body %}


<div class="container-fluid">

<h5>In the CulturePlex Lab at Western U.</h5>

<p>We do research on cultural complexity and actively practice digital humanities
Doing research on cultural complexity means: analyzing the same phenomena at several scales (from the individual's to the network's, over long periods of time and across cultural borders), employing a multidisciplinary approach that brings together the best of the humanities and sciences, and taking advantage of the available computing power to tackle large human problems related to culture.</p>

<p>Why is this important? Because as globalization speeds up more people, cultural objects, ideas, and values move from their original sites and travel to distant places. These moves are associated with the emergence of individual and collective behaviors that are difficult to understand and trace, but have a huge impact on how cultures reorganize and how social groups interact with each other.</p>

<p>And the digital humanities? The digital humanities seek to harmonize the social and technological revolution of the Internet with the traditional preoccupation of the humanities for human and cultural problems as they happen at the scale of the human being.</p>

<p>We build and adapt the computer tools needed to enhance our analysis and offer the best visualization of the most complex cultural processes: agent-based modeling, topic maps, databases, and natural language processing are some of these tools.</p>

<p>The problems we tackle range from tracking the origin and spread of baroque culture, to using computers to facilitate second-language learning, to developing new ways to catalogue digital objects and preserve our global heritages, to creating powerful software systems that make possible to manage creative and humanistic content in the web 2.0.</p>

<p>The CulturePlex has been made possible thanks to the generous support of the Canada Foundation for Innovation (LOF), the Government of Ontario, and Western U. Some of our projects enjoy the support of the Social Sciences and Humanities Research Council of Canada.</p>

<p>If you want to know more about our people or our projects, drop us a line at contact@cultureplex.ca</p>


</div>

{% endblock %}
