{% extends "pv_home.html" %}
{% load i18n %}

{% block title %}{% trans "About" %}{% endblock %}


{% block main_body %}


<div class="container-fluid">

<h2>How to cite us...</h2>

<div class="container-fluid cite_us">

	<p class="lead cite_type">MLA</p>

		<p>"[Entry.]"  BaroqueArt. CulturePlex Lab, 2007-2013. Web. {% now "j M. Y" %}.</p>

		<p>BaroqueArt. CulturePlex Lab, 2007-2013. Web. {% now "j M. Y" %}.</p>

</div>

<div class="container-fluid cite_us">

	<p class="lead cite_type">APA</p>

		<p>[Entry]. (2007-2013). BaroqueArt. URL: baroqueart.cultureplex.ca {% now "j M. Y" %}.</p>

		<p>BaroqueArt. (2007-2013). URL: baroqueart.cultureplex.ca {% now "j M. Y" %}.</p>

</div>

<div class="container-fluid cite_us">

	<p class="lead cite_type">Chicago</p>

		<p>CulturePlex Lab, “[Entry.]” BaroqueArt. {% now "j M. Y" %} http://baroqueart.cultureplex.ca</p>

		<p>CulturePlex Lab, BaroqueArt. {% now "j M. Y" %} http://baroqueart.cultureplex.ca</p>

</div>

<div class="container-fluid cite_us">

	<p class="lead">BibTeX</p>

		<pre>
	@misc{ 
		author = "CulturePlex Lab",
		title = "BaroqueArt Database",
		year = "{% now "Y" %}",
		url = "URL",
		note = "[Online; accessed {% now "j-F-Y" %}]"
	}
		</pre>

</div>

</div>

</div>

{% endblock %}
