{% extends "pv_home.html" %}
{% load i18n %}

{% block title %}{% trans "About" %}{% endblock %}


{% block main_body %}


<div class="container-fluid">

	<h2>How to cite us...</h2>

	<div class="container-fluid cite_us">	
		<h1><small>MLA</small></h1>
			<div class="container type_container">
				<p class="lead cite_type">Specific Entry</p>
					<blockquote class="blockquote_cite">
						<p>"[Entry.]" <i>BaroqueArt</i>. CulturePlex Lab, 2007-2013. Web. {% now "j M. Y" %}.</p>
					</blockquote>
				<p class="lead cite_type">Whole Site</p>
					<blockquote>
						<p><i>BaroqueArt</i>. CulturePlex Lab, 2007-2013. Web. {% now "j M. Y" %}.</p>
					</blockquote>
			</div>
	</div>

	<div class="container-fluid cite_us">
		<h1><small>APA</small></h1>
			<div class="container type_container">
				<p class="lead cite_type">Specific Entry</p>
				<blockquote>
					<p>[Entry]. (2007-2013). <i>BaroqueArt</i>. URL: baroqueart.cultureplex.ca {% now "j M. Y" %}.</p>
				</blockquote>

				<p class="lead cite_type">Whole Site</p>
				<blockquote>
					<p><i>BaroqueArt</i>. (2007-2013). URL: baroqueart.cultureplex.ca {% now "j M. Y" %}.</p>
				</blockquote>
			</div>
	</div>

	<div class="container-fluid cite_us">
		<h1><small>Chicago</small></h1>
			<div class="container type_container">
				<p class="lead cite_type">Specific Entry</p>
				<blockquote>
					<p>CulturePlex Lab, “[Entry.]” <i>BaroqueArt</i>. {% now "j M. Y" %} http://baroqueart.cultureplex.ca</p>
				</blockquote>

				<p class="lead cite_type">Whole Site</p>
				<blockquote>
					<p>CulturePlex Lab, <i>BaroqueArt</i>. {% now "j M. Y" %} http://baroqueart.cultureplex.ca</p>
				</blockquote>
			</div>
	</div>

	<div class="container-fluid cite_us">
		<h1><small>BibTeX</small></h1>
			<pre>
	@online{ 
		author = "CulturePlex Lab",
		title = "BaroqueArt Database",
		year = "{% now "Y" %}",
		url = "http://baroqueart.cultureplex.ca/",
		urldate = "{% now "Y-m-d" %}"
	}
			</pre>
	</div>

</div>



{% endblock %}
