{% extends "home.html" %}
{% load i18n %}

{% block title %}{% trans "Contact" %}{% endblock %}

{% block main_body %}

<div class="container-fluid">

<div class="contact">

<blockquote>

<address>
    <p><strong>CulturePlex  |  Western University</strong></p>
</address>

<address>
    <p><i class="icon-envelope"> contact@cultureplex.ca</i></p>
</address>

<address>
    <p><i class="icon-twitter"><a href="https://twitter.com/cultureplex" target="blank"> @cultureplex</a></i></p>

</address>

<address>
    <p><i class="icon-globe"><a href="http://www.cultureplex.ca/" target="blank"><strong> Visit Us</strong></a></i></p>
</address>

</blockquote>

</div>

</div>

{% endblock %}
