{% extends "pv_home.html" %}
{% load i18n %}

{% block title %}{% trans "Contact" %}{% endblock %}

{% block main_body %}

<div class="container-fluid">

<div class="contact">

<blockquote>

<address>
    <p><strong>CulturePlex  |  Western University</strong></p>
</address>

<address>
    <p><strong>Email Us</strong></p>
    <p>contact@cultureplex.ca</p>
</address>

<address>
    <p><strong>Twitter</strong></p>
    <p><a href="https://twitter.com/cultureplex" target="blank">@cultureplex</a></p>

</address>

<address>
    <p><strong>Visit Us</strong></p>
    <p><a href="http://www.cultureplex.ca/" target="blank">www.cultureplex.ca</a></p>
</address>

</blockquote>

</div>

</div>

{% endblock %}
