{% extends "home.html" %}
{% load i18n %}

{% block title %}{% trans "Data" %}{% endblock %}


{% block main_body %}


<div class="container-fluid">

    <h2>BaroqueArt Dataset (CC0)</h2>

    <div class="about_text">

        <p class="about_lines">Thanks for downloading the dataset!</p>
        <small>If the download doesn't start, click <a href="{% url data %}">here</a>.</small>

    </div>

</div>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
(function ($, undefined) {
    function download() {
        location.href = "{% url data %}";
    }
    var timeout = setTimeout(function () {
        download();
        clearTimeout(timeout);
    }, 3000);
})(jQuery);
</script>
{% endblock %}
