{% extends "base.html" %}
{% load i18n %}
{% load convert_tags %}
{% block extra_links %}

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="/media/js/jquery.cycle.all.js"></script>
<script type="text/javascript">


    this.advancedSearch = function(){
        $('#advanced_search_button').click(function(){
            window.location.href = '{% url advanced_search %}';
        });
    };

    this.initialize_menu = function(div_name){
        $(div_name).mouseenter(function(){
            $(div_name).cycle('resume');
        });

        $(div_name).mouseleave(function(){
            $(div_name).cycle('pause');
        });

        $(div_name).cycle({
            fx: 'fade',
            timeout: '500' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        });

        $(div_name).cycle('pause');
    }

    this.link_menu = function(){
        $('.ss_artwork').click(function(){
            window.location.href = '{% url artworks_list %}';
        });
        $('.ss_creator').click(function(){
            window.location.href = '{% url creators_list %}';
        });
        $('.ss_series').click(function(){
            window.location.href = '{% url series_list %}';
        });
        $('.ss_search').click(function(){
            window.location.href = '{% url map %}';
        });
    }

    initialize_artist = function(){
        $('#work_history').mouseenter(function(){
            $('#work_history').cycle('pause');
        });

        $('#work_history').mouseleave(function(){
            $('#work_history').cycle('resume');
        });

        $('#work_history').cycle({
            fx: 'fade',
            timeout: '500' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        });

    }

    $(document).ready(function(){
        initialize_menu('.ss_artwork');
        initialize_menu('.ss_creator');
        initialize_menu('.ss_series');
        initialize_menu('.ss_search');
        link_menu();
        searchClicked();
        advancedSearch();
        initialize_artist();
    });
</script>
{% endblock %}

<!--TITLE-->
{% block title %}{% trans "Home" %}{% endblock %}

{% block body %}

<!--NAVBAR-->

<div class="containter-fluid">

    <div class="navbar-wrapper">

      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">

            <a class="brand" href="{% url public_view %}">{{ PROJECT_NAME }}</a>
                <div class="nav-collapse collapse">
                  <ul class="nav">
                    <li><a href="{% url creators_list %}">Creator</a></li>
                    <li><a href="{% url artworks_list %}">Artwork</a></li>
                    <li><a href="{% url series_list %}">Series</a></li>
                    <li><a href="{% url map %}">Map</a></li>
                    <li><a href="{% url login %}">Login</a></li>
                  </ul>
                  <ul class="nav pull-right">
                    <li><a href="{% url advanced_search %}">Advanced Search</a></li>
                  </ul>
                  <form class="nav pull-right sbox" name="search" action="{% url search_results %}" method="get">
                    <input class="span2" id="search_text" type="text" value="{{ data }}" name="data">
                    <button class="btn sbutton" type="submit" id="search_button"><i class="icon-search"></i></button>
                  </form>
                </div>
          </div>
        </div>

      </div>
    </div>

 <div class="container fluid">

{% block main_body %}

<!--CAROUSEL-->

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

<!--   Carousel items -->
  <div class="carousel-inner">

  <!-- Item One -->
     <div class="active item">
        <div class="container-fluid">
            <div class="carousel-caption">
                  <h1>BaroqueArt</h1>
                  <p class="lead">A data collection of Hispanic Baroque painters and paintings from 1550 to 1850. </p>
            </div>
        </div>
    </div>

  <!-- Item Two: Featured Artwork -->
    <div class="item">
        <div class="container-fluid">
            <div class="row-fluid artwork_carousel">
                <div class="span4 offset1">
                    <div class="carousel_artwork">
                          {% if artwork_image.url %}
                              {% thumbnail artwork_image.url "190x190,crop" %}
                          {% else %}
                              {% if artwork_image.image %}
                                  {% thumbnail artwork_image.image "190x190,crop" %}
                              {% else %}
                                  {% thumbnail "img/unavailable-image.jpg" "190x190,crop" %}
                              {% endif %}
                          {% endif %}
                    </div>
                </div>

                <h3 class="carousel_words">Featured Artwork</h3>
                  {% if artwork %}
                  <div class="span4 carousel_words">
                    <p class="lead">{{ artwork.title }}</p>
                    <blockquote>
                       <p><strong>Artist: </strong>{% for creator in artwork.creators.all %}<span>{{ creator.name }}</span>
                       {% endfor %}
                       {% if artwork.creation_year_start and artwork.creation_year_end %}</p>
                       <p><strong>Dated In:</strong> <span>{{ artwork.creation_year_start }} - {{ artwork.creation_year_end }}</span></p>
                        {% else %}
                        <p><strong>Dated In: </strong><span>n/a</span></p>
                        {% endif%}
                        {% if artwork.current_place %}
                        <p><strong>Current Location: </strong><span>{{ artwork.current_place.title }}</span></p>
                        {% else %}
                        <p><strong>Current Location: </strong><span>n/a</span>
                        {% endif%}
                    </p>
                    <p><a href="{% url artworks_record artwork.id %}">View More</a>
                      {% else %}
                    <span style="">No data available.</span></p>
                  {% endif %}
                  </blockquote>
                  </div>
            </div>
        </div>
    </div>
  <!-- Item Three: FEATURED ARTIST-->
    <div class="item">
        <div class="container-fluid">
            <div class="row-fluid artwork_carousel">
                <div class="span4 offset1">
                      <div class="carousel_artwork">
                          {% if creator_artwork_image.url %}
                              {% thumbnail creator_artwork_image.url "190x190,crop" %}
                          {% else %}
                              {% if creator_artwork_image.image %}
                                  {% thumbnail creator_artwork_image.image "190x190,crop" %}
                              {% else %}
                                  {% thumbnail "img/unavailable-image.jpg" "190x190,crop" %}
                              {% endif %}
                          {% endif %}
                      </div>
                </div>
                <h3 class="carousel_words2">Featured Artist</h3>
                  {% if artist %}
                  <div class="span4 carousel_words2">
                    <p class="lead">{{ artist.name }}</p>
                      <blockquote>
                          <p><strong>Lived: </strong>
                          {% if artist.birth_year and artist.death_year %}
                          <span>{{ artist.birth_year }} - {{ artist.death_year }}</span>
                      {% else %} <span>n/a</span></p>
                      {% endif%}
                      <p><strong>Masters: </strong>{% for master in artist.masters.all %}<span>{{ master.name }}</span></p>
                      {% if not forloop.last %}
                      ;
                      {% endif %}
                      {% endfor %}
                      <p><strong>Place of birth: </strong><span>{{ artist.birth_place.title }}</span></p>
                      <p><strong>Place of death: </strong><span>{{ artist.death_place.title }}</span></p>
                      <p><a href="{% url creator_record artist.id %}">View More</a></p>
                      {% else %}
                      <span style="">No data available.</span></p>
                      {% endif %}
                      </blockquote>
                  </div>
              </div>
          </div>
      </div>
    </div>

<!--   Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<!--HOME IMAGE AND CATEGORIES-->
<div class="container">
      <div class="row">
        <div class="span3">
          <a href="{% url creators_list %}"><h2>Creators</h2></a>
          <a href="{% url creators_list %}"><img class="img-rounded" src="media/img/portrait1.png"></a>
          <p class="category_box">View biographical information, such as date of birth and death, place of birth and relations to other artists.</p>
          <p><a class="btn btn-inverse" href="{% url creators_list %}">View Creators &raquo;</a></p>
        </div>
        <div class="span3">
            <a href="{% url artworks_list %}"><h2>Artworks</h2></a>
            <a href="{% url artworks_list %}"><img class="img-rounded" src="media/img/artwork.png"></a>
            <p class="category_box">View information on artworks, such as their original location, their current location and its relation to the creator.</p>
            <p><a class="btn btn-inverse" href="{% url artworks_list %}">View Artworks &raquo;</a></p>
        </div>
        <div class="span3">
            <a href="{% url series_list %}"><h2>Series</h2></a>
            <a href="{% url series_list %}"><img class="img-rounded" src="media/img/series.png"></a>
            <p class="category_box">View a series, including the works belonging to a group of artworks and the different pieces in one series.</p>
            <p><a class="btn btn-inverse view_buttons" href="{% url series_list %}">View Series &raquo;</a></p>
        </div>
        <div class="span3">
            <a href="{% url map %}"><h2>Map</h2></a>
            <a href="{% url map %}"><img class="img-rounded" src="media/img/worldmap.png"></a>
            <p class="category_box">The map view allows a visualization of the paintings in both spacial and temporal settings.</p>
          <p><a class="btn btn-inverse view_buttons" href="{% url map %}">View Map &raquo;</a></p>
        </div>
      </div>

{% endblock %}

<hr>

<!--FOOTER-->
    <div id="footer">
      <div class="container">
        <p class="muted credit">
            <span class="pull-right">&copy; <a href="http://www.cultureplex.ca/" target="blank">CulturePlex Lab</a></span>
              <a href="{% url cite_us %}">Cite Us</a>
              &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
              <a href="http://ontologies.cultureplex.ca/baroqueart/spec/index.html" target="blank">Ontology</a>
              &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
              <a href="/media/dumps/baroqueart.dump.zip" target="blank">Dataset (CC0)</a>
              &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
              <a href="{% url terms %}">Terms</a>
              &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
              <a href="{% url contact %}">Contact Us</a>
              &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
              <a href="{% url about %}">About Us</a>
        </p>
      </div>
    </div>
</div>


{% endblock %}

<!--javascript-->
<script type="text/javascript" src="/media/js/jquery.js">
</script>

<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.2.74.js">
</script>

<script>
    $(document).ready(function(){
        $('.carousel').carousel();
    });
</script>

