{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Map" %}{% endblock %}

{% block extra_links %}
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/start/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/media/css/TimeControl.css" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&sensor=false"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="/media/js/base.js"></script>
<script type="text/javascript" src="/media/js/TimeControl.js"></script>
<script type="text/javascript" src="/media/js/markerclusterer.js"></script>
{% endblock %}

{% block body_attrs %}
class="navbar-map-body"
{% endblock %}
{% block body %}

<div class="navbar navbar-inverse navbar-map">
	<div class="navbar-inner">
		<a class="brand" href="{% url public_view %}">{{ PROJECT_NAME }}</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
                    <li><a href="{% url creators_list %}">Creator</a></li>
                    <li><a href="{% url artworks_list %}">Artwork</a></li>
                    <li><a href="{% url series_list %}">Series</a></li>
                    <li><a href="{% url map %}">Map</a></li>
                    <li><a href="{% url login %}">Login</a></li>
				</ul>
				<ul class="nav pull-right">
					<li><a href="{% url advanced_search %}">Advanced Search</a></li>
				</ul>
                  <form class="nav pull-right" name="search" action="{% url search_results %}" method="get">
                    <input class="span2 sbox" id="search_text" type="text" value="{{ data }}" name="data">
                    <button class="btn sbutton" type="submit" id="search_button"><i class="icon-search"></i></button>
                  </form>
			</div>
	</div>
</div>

<div id="mapContainer">
    <div id="map">{% trans "Loading" %}...</div>
    <div id="progress"></div>
</div>
{% endblock %}

