{% extends "pv_home.html" %}
{% load i18n %}

{% block extra_scripts %}
<script type="text/javascript" src="/media/js/search.js"></script>
<script type="text/javascript">
    this.loadTable = function(){
        var e, d = function(s){
            return decodeURIComponent(s.replace(/\+/g, " "));
        }, q = window.location.search.substring(1), r = /([^&=]+)=?([^&]*)/g;
        
        while (e = r.exec(q)) 
            urlParams[d(e[1])] = d(e[2]);
            
        if(urlParams.data){
            data = urlParams.data;
            $.get('{% url search_view %}', { data: data }, function(result) {
                    $('#search_table_div').html("");
                    $('#search_table_div').append(result);
                });
        }
    };
    
    this.callAjax = function(object_name, queryparams, queryVals, operators){
        $.ajax({
                url: '{% url search_view %}',
                data: { objectType:object_name, params:queryparams, vals:queryVals, ops:operators },
                traditional: true,
                success: function(result) {
                    $('#search_table_div').html("");
                    $('#search_table_div').append(result);
                }
            });
    }
</script>
{% endblock %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block main_body %}
<div class="lead">
    Search
</div>


<!--<div id="secWrapper">-->
<!--    <div id="wrapper">-->
<div id="container-fluid" >
<!--            <div align="center" style="padding-right: 20px;">-->
    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Choose topic:</label>
                <div id="table_search" class="controls">
<!--            <span style="position:relative; left: -30px;">Choose the type of data to search in:</span>            -->
                    <select class="pv_search_select">
                        <option value=''>Pick ...</option>
                        <option value="Artwork">Artwork</option>
                        <option value="Creator">Creator</option>
                        <option value="Serie">Series</option>
                    </select>
                </div>
        </div>

                        <input type="text" id="text1" class="text_search" />

                        <p>in</p>

                        <select id="field1" class="search_select"></select>

                            <select id="op1" class="search_select" >
                                <option value="or">and/or</option>
                                <option value="and">and</option>
                                <option value="or">or</option>
                            </select>

                        <input type="text" id="text2" class="text_search"/>

                        <p>in</p>

                        <select id="field2" class="search_select"></select>

                            <select id="op2" class="search_select"">
                                <option value="or">and/or</option>
                                <option value="and">and</option>
                                <option value="or">or</option>
                            </select>

                        <input type="text" id="text3" class="text_search"/></td>

                        <p>in</p>

                        <select id="field3" class="search_select"></select>
                        <input type="button" class="search_fields_button" />
          </div>
          </div>
        </div>
    </div>

</div>



{% endblock %}
