{% load i18n %}

{% block main_body %}

<div class="container-fluid">

    <h2 class="header-search">Search Results</h2>

{% if results.object_list %}
<table class="table table-striped table-hover">
    <tbody>
    {% for result in results.object_list %}
        <tr>
            <td>
            {% if result.title %}
                {% if result.creators %}
                    <i class="icon-picture"></i>
                    <td class="result-creators"><a class="pvtd_a" href="{% url artworks_record result.id %}">{{ result.title }}</a></td>
                {% else %}
                    <i class="icon-picture"></i>
                    <td><a class="pvtd_a" href="{% url series_record result.id %}">{{ result.title }}</a></td>
                {% endif %}
            {% endif %}
            {% if result.name %}
                <i class="icon-user"></i>
                <td><a class="pvtd_a" href="{% url creator_record result.id %}">{{ result.name }}</a></td>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>

<div class="pagination pagination-centered">   
    {% if results.paginator.num_pages == 1 %}
        <span class="first-last">First</span>
    {% else %}
        <a id="first" href="?{{ search_url }}{% if footer == false %}&footer=false{% endif %}&page=1" class="first-last">First</a>
    {% endif %}
    &nbsp;&nbsp;
    {% if results.has_previous %}
        <a href="?{{ search_url }}{% if footer == false  %}&footer=false{% endif %}&page={{ results.previous_page_number }}"><span class="badge badge-info">Previous</span></a>
    {% else %}
        <span class="badge badge-info">Previous</span>
    {% endif %}
        <span class="current">
        &nbsp;&nbsp;Page {{ results.number }} of {{ results.paginator.num_pages }}&nbsp;&nbsp;
        </span>
    {% if results.has_next %}
        <a href="?{{ search_url }}{% if footer == false %}&footer=false{% endif %}&page={{ results.next_page_number }}"><span class="badge badge-info">Next</span></a>
    {% else %}
        <span class="badge badge-info">Next</span>
    {% endif %}
    &nbsp;&nbsp;
    {% if results.paginator.num_pages == 1 %}
        <span class="first-last">Last</span>
    {% else %}
        <a href="?{{ search_url }}{% if footer == false %}&footer=false{% endif %}&page={{ results.paginator.num_pages }}"><span class="first-last">Last</span></a>
    {% endif %}
</div>

{% else %}

<div class="no-result">

<p class="lead"> We are sorry, no item found for your search. <p>

<p>Search Tips</p>
<ul>
    <li>Make sure all words are spelled correctly.</li>
    <li>Try different keywords.</li>
</ul>

</div>

{% endif %}

</div>

{% endblock %}

