{% extends "pv_home.html" %}
{% load i18n %}

{% block extra_scripts %}
<script type="text/javascript" src="/media/js/search.js"></script>
<script type="text/javascript">
    this.loadTable = function(){
        var e, d = function(s){
            return decodeURIComponent(s.replace(/\+/g, " "));
        }, q = window.location.search.substring(1), r = /([^&=]+)=?([^&]*)/g;
        
        while (e = r.exec(q)) 
            urlParams[d(e[1])] = d(e[2]);
            
        if(urlParams.data || window.location.search){
            data = urlParams.data;
            $.get('{% url search_results %}'+window.location.search+"&footer={{ footer }}", { data: data }, function(result) {
                    $('#search_table_div').html("");
                    $('#search_table_div').append(result);
                });
        }
    };
    
    this.callAjax = function(object_name, queryparams, queryVals, operators){
        $.ajax({
                url: '{% url search_results %}',
                data: { objectType:object_name, params:queryparams, vals:queryVals, ops:operators, footer:"false" },
                traditional: true,
                success: function(result) {
                    $('#search_table_div').html("");
                    $('#search_table_div').append(result);
                }
            });
    }
</script>
{% endblock %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block main_body %}


<div class="lead">
    Advance Search
</div>

        <div id="container-fluid" >
            <div class="form-horizontal">
                <div class="control-group">
                    <div id="table_search" class="controls">
                        <select class="pv_search_select">
                            <option value=''>Pick a topic</option>
                            <option value="Artwork">Artwork</option>
                            <option value="Creator">Creator</option>
                            <option value="Serie">Serie</option>
                        </select>
                    </div>
                </div>


                    <div class="control-group">
                        <div class="controls">
                            <select id="field1" class="search_select"></select>
                            <input type="text" id="text1" class="text_search" />
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <select id="op1" class="search_select" style="width:70px;">
                                <option value="and">and</option>
                                <option value="or">or</option>
                            </select>
                            <select id="field2" class="search_select"></select>
                            <input type="text" id="text2" class="text_search"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <select id="op2" class="search_select" style="width:70px;">
                                <option value="and">and</option>
                                <option value="or">or</option>
                            </select>
                            <select id="field3" class="search_select"></select>
                            <input type="text" id="text3" class="text_search"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <input type="button" class="search_fields_button btn" value="Search"/>
                        </div>
                    </div>


                    <div id="search_table_div"></div>


    </div>
</div>

{% endblock %}
