{% extends "pv_home.html" %}
{% load i18n place_map_tags%}

{% block more_scripts %}
<script type='text/javascript' src='/media/js/tooltip.js'></script>
{% endblock %}

{% block title %}{% trans "Creator" %}{% endblock %}

{% block current_crumb %}{{ creator.name }}{% endblock %}


{% block main_body %}

<div class="page-header">
    <h2>{{ creator.name }}
        <small>({% if creator.birth_year %}
            {{ creator.birth_year }}
        {% else %}
            n.a.
        {% endif %} 
            -
        {% if creator.death_year %}
            {{ creator.death_year }}
        {% else %}
            n.a.
        {% endif %})</small></h2>
</div>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
<!--        Creator Information-->
<!--            Place of Birth-->
            <blockquote>
                <div class="dl-horizontal">
                    {% if creator.birth_place %} 
                        <dt>Place of birth:</dt>
                    {% if creator.birth_place.get_valid_point %}
                        <dd><a  rel="{% url map %}" href="{% place_map creator.birth_place.get_valid_point %}">{{ creator.birth_place.title }}</a></dd>
                    {% else %}
                        <dd>{{ creator.birth_place.title }}</dd>
                    {% endif %}
                    {% else %} 
                        <dt>Place of birth:</dt> 
                        <dd>n.a.</dd>
                    {% endif%}
                </div>
<!--            Place of Death-->
                <div class="dl-horizontal">
                    {% if creator.death_place %} 
                        <dt>Place of death:</dt>
                    {% if creator.death_place.get_valid_point %}
                        <dd><a rel="{% url map %}" href="{% place_map creator.death_place.get_valid_point %}">{{ creator.death_place.title }}</a></dd>
                    {% else %}
                        <dd>{{ creator.death_place.title }}</dd>
                    {% endif %}
                    {% else %} 
                        <dt>Place of death:</dt>
                        <dd>n.a.</dd>
                    {% endif%}
                </div>
<!--                Activity Period-->
                <div class="dl-horizontal">
                    {% if creator.activity_start_year and creator.activity_end_year %} 
                        <dt>Activity Period:</dt>
                        <dd>{{ creator.activity_start_year }} - {{ creator.activity_end_year }}</dd>
                    {% else %}
                        <dt>Activity Period:</dt> 
                        <dd>n.a.</dd>
                    {% endif%}
                </div>
            </blockquote>

<br/><br/><br/>
<div class="row-fluid">
    <div class="span6">
        <tr>
        <!--List of Artworks-->
            <td colspan="2" align="left" style="padding: 0 0 0 0px;">
                <h5>List of Artworks:</h5><br/>
                <div class="list_artworks">
                    <table class="table">
                    {% for artwork in creator.artwork_set.all %}
                        <tr>
                            <td><a class="pvtd_a" href="{% url artworks_record artwork.id %}">{{ artwork.title }}</a></td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </td>
        </tr>
    </div>

    <div class="span5 offset1">
    <!--Masters and Students-->
        <td width="45%" style="padding: 20px 0 0 0px;" align="center">
            <div style="width: 275px;">
                 <h5>Masters & Students</h5>
            </div>
            <div class="masters_students">
                <table>
                    {% for master in creator.masters.all %}
                        <tr>
                            <td style="padding-left:10px;">
                                <span class="label">Master</span>
                                    <a class="pvtd_a" href="{% url creator_record master.id %}">{{ master.name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for student in students %}
                        <tr>
                            <td style="padding-left:10px;">
                                <span class="label label-inverse">Student</span>
                                    <a class="pvtd_a" href="{% url creator_record student.id %}">{{ student.name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </td>
    </div>
</div>
</div>

        </div>
    </div>
</div>
{% endblock %}
